{{#contentFor "PAGE_LEVEL_STYLES"}}
<link rel="stylesheet" href="/styles/family.css">
{{/contentFor}}
{{#contentFor "PAGE_LEVEL_SCRIPTS"}}
<script>
  $(document).ready(function () {
    $(".gallery__item").each(function(index){
      $(this).css({
        top: Math.floor(index / 7) * $(this).height() + 'px',
        left: (index % 7) * $(this).width() + 'px'
      });
    });

    $(".family-name__item img").on('mouseenter', function() {
      $(this).parent('.family-name__item').find('.family-name__content').css({
        'opacity': '1',
        'z-index': '200'
      });
    });

    $(".family-name__item img").on('mouseout', function() {
      $(this).parent('.family-name__item').find('.family-name__content').css({
        'opacity': '0',
        'z-index': '0'
      });
    });
  });
</script>
{{/contentFor}}

{{!< default}}
<main class="main">
  <section class="banner text-center">
    <img class="banner__image" src="/images/family-banner.jpg" alt="">
    <ul class="gallery__list">
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
    </ul>
  </section>

  <div data-aos="fade-up">
    <section class="family-animation section">
      <div class="container-sm">
        <h3 class="text-size-bigger text-weight-bold">Let’s become a Aikomi Family</h3>
        <h4 class="family__section-subtitle text-size-big">認知症患者の未来を変えるために私たちにもできること</h4>
        <i class="theme-divider__horizontal-block"></i>
        <div class="grid">
          <div class="width-1-2">
            <h4 class="text-size-big text-weight-bold">写真・動画提供</h4>
            <div class="family-animation__paragraph">
              <p class="text-line-height text-weight-light">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea.</p>
            </div>
            <div class="family-animation__video">
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/HobxLbPhrMc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="family-animation__video-text-container">
                <h4 class="text-size-big text-theme-color">動画提供者募集</h4>
                <p class="family-animation__text">ボタンを押すと動画提供者用サイトへ</p>
              </div>
            </div>
          </div>
          <div class="width-1-2">
            <div class="family-animation__item">
              <img src="/images/family-animation-2.jpg" alt="">
              <div class="family-animation__text-container">
                <h4 class="text-size-big text-theme-color">写真提供者募集</h4>
                <p class="family-animation__text">ボタン押すとみんなの非薬物療法サイトへ</p>
              </div>
            </div>
            <div class="grid">
              <div class="family-animation__item width-1-2">
                <img src="/images/family-animation-3.jpg" alt="">
                <div class="family-animation__text-container">
                  <h4 class="text-size-big text-theme-color">BLOG</h4>
                  <p class="family-animation__text">ボタンを押すと BROGサイトへ</p>
                </div>
              </div>
              <div class="family-animation__item width-1-2">
                <img src="/images/family-animation-4.jpg" alt="">
                <div class="family-animation__text-container">
                  <p class="text-theme-dark-color">Familyになりたいのでメッセージを送る</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div data-aos="fade-up">
    <section class="family-name section">
      <div class="container-sm">
        <div>
          <h3 class="text-size-bigger text-weight-bold">Aikomi family’s name</h3>
          <h4 class="family__section-subtitle text-size-big">企業・主婦・ユーチューバー・介護士・料理人・画家・書道家・飲食店</h4>
          <i class="theme-divider__horizontal-block"></i>
          <div class="family-name__paragraph grid">
            <p class="width-1-2 text-line-height text-weight-light">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,。</p>
          </div>
        </div>
        <div class="family-name__image-container">
          <img src="/images/family-section-name.jpg" alt="">
          <ul>
            <li class="family-name__item first">
              <img src="/images/family-brain-1.gif" alt="">
              <div class="family-name__content first">
                <h5 class="family-name__title text-theme-color">Lorem ipsum dolor</h5>
                <p class="family-name__content-paragraph">consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna……</p>
              </div>
            </li>
            <li class="family-name__item second">
              <img src="/images/family-brain-1.gif" alt="">
              <div class="family-name__content second">
                <h5 class="family-name__title text-theme-color">Lorem ipsum dolor</h5>
                <p class="family-name__content-paragraph">consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna……</p>
              </div>
            </li>
            <li class="family-name__item third">
              <img src="/images/family-brain-1.gif" alt="">
              <div class="family-name__content third">
                <h5 class="family-name__title text-theme-color">Lorem ipsum dolor</h5>
                <p class="family-name__content-paragraph">consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna……</p>
              </div>
            </li>
            <li class="family-name__item fourth">
              <img src="/images/family-brain-3.gif" alt="">
              <div class="family-name__content fourth">
                <h5 class="family-name__title text-theme-color">Lorem ipsum dolor</h5>
                <p class="family-name__content-paragraph">consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna……</p>
              </div>
            </li>
            <li class="family-name__item fifth">
              <img src="/images/family-brain-2.gif" alt="">
              <div class="family-name__content fifth">
                <h5 class="family-name__title green text-theme-color">Lorem ipsum dolor</h5>
                <p class="family-name__content-paragraph">consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna……</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</main>