{{#contentFor "PAGE_LEVEL_STYLES"}}
<link rel="stylesheet" href="/styles/owl.carousel.min.css">
<link rel="stylesheet" href="/styles/owl.theme.default.css">
<link rel="stylesheet" href="/styles/news.css">
{{/contentFor}}
{{#contentFor "PAGE_LEVEL_SCRIPTS"}}
<script src="./js/owl.carousel.min.js"></script>
<script>
  $('.owl-carousel').owlCarousel({
      loop:true,
      margin:10,
      nav:false,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:3
          },
          1000:{
              items:3
          }
      }
  })

  $(document).ready(function () {
    $(".news__table-tab").on('click', function(){
      $('.news__table-tab').removeClass('active');
      $(this).addClass('active');
    });
  });
</script>
{{/contentFor}}

{{!< default}}
<main class="main">
  <section class="banner text-center">
    <img class="banner__image" src="/images/news-banner.jpg" alt="">
  </section>

  <div data-aos="fade-up">
    <section class="section">
      <div class="container-sm">
        <div class="owl-carousel owl-theme">
          <div class="item news__item"> 
            <div class="news__card">
              <time class="news__time text-size-big text-theme-color text-weight-bold">October 03, 2019</time>
              <h4 class="news__title text-weight-bold">日経MJに掲載されました</h4>
              <p class="text-line-height">2019年10月4日付の日経MJに弊社の取組みが紹介されました。今後も積極的に弊社の活動を発信し、認知症の理解を広めていきたいと考えています……</p>
              <div class="news__sign-container text-right">
                <span class="news__sign">こちらをクリック</span>
              </div>
            </div>
          </div>
          <div class="item news__item"> 
            <div class="news__card">
              <time class="news__time text-size-big text-theme-color text-weight-bold">October 03, 2019</time>
              <h4 class="news__title text-weight-bold">日経MJに掲載されました</h4>
              <p class="text-line-height">2019年10月4日付の日経MJに弊社の取組みが紹介されました。今後も積極的に弊社の活動を発信し、認知症の理解を広めていきたいと考えています……</p>
              <div class="news__sign-container text-right">
                <span class="news__sign">こちらをクリック</span>
              </div>
            </div>
          </div>
          <div class="item news__item"> 
            <div class="news__card">
              <time class="news__time text-size-big text-theme-color text-weight-bold">October 03, 2019</time>
              <h4 class="news__title text-weight-bold">日経MJに掲載されました</h4>
              <p class="text-line-height">2019年10月4日付の日経MJに弊社の取組みが紹介されました。今後も積極的に弊社の活動を発信し、認知症の理解を広めていきたいと考えています……</p>
              <div class="news__sign-container text-right">
                <span class="news__sign">こちらをクリック</span>
              </div>
            </div>
          </div>
          <div class="item news__item"> 
            <div class="news__card">
              <time class="news__time text-size-big text-theme-color text-weight-bold">October 03, 2019</time>
              <h4 class="news__title text-weight-bold">日経MJに掲載されました</h4>
              <p class="text-line-height">2019年10月4日付の日経MJに弊社の取組みが紹介されました。今後も積極的に弊社の活動を発信し、認知症の理解を広めていきたいと考えています……</p>
              <div class="news__sign-container text-right">
                <span class="news__sign">こちらをクリック</span>
              </div>
            </div>
          </div>
          <div class="item news__item"> 
            <div class="news__card">
              <time class="news__time text-size-big text-theme-color text-weight-bold">October 03, 2019</time>
              <h4 class="news__title text-weight-bold">日経MJに掲載されました</h4>
              <p class="text-line-height">2019年10月4日付の日経MJに弊社の取組みが紹介されました。今後も積極的に弊社の活動を発信し、認知症の理解を広めていきたいと考えています……</p>
              <div class="news__sign-container text-right">
                <span class="news__sign">こちらをクリック</span>
              </div>
            </div>
          </div>
          <div class="item news__item"> 
            <div class="news__card">
              <time class="news__time text-size-big text-theme-color text-weight-bold">October 03, 2019</time>
              <h4 class="news__title text-weight-bold">日経MJに掲載されました</h4>
              <p class="text-line-height">2019年10月4日付の日経MJに弊社の取組みが紹介されました。今後も積極的に弊社の活動を発信し、認知症の理解を広めていきたいと考えています……</p>
              <div class="news__sign-container text-right">
                <span class="news__sign">こちらをクリック</span>
              </div>
            </div>
          </div>
          <div class="item news__item"> 
            <div class="news__card">
              <time class="news__time text-size-big text-theme-color text-weight-bold">October 03, 2019</time>
              <h4 class="news__title text-weight-bold">日経MJに掲載されました</h4>
              <p class="text-line-height">2019年10月4日付の日経MJに弊社の取組みが紹介されました。今後も積極的に弊社の活動を発信し、認知症の理解を広めていきたいと考えています……</p>
              <div class="news__sign-container text-right">
                <span class="news__sign">こちらをクリック</span>
              </div>
            </div>
          </div>
          <div class="item news__item"> 
            <div class="news__card">
              <time class="news__time text-size-big text-theme-color text-weight-bold">October 03, 2019</time>
              <h4 class="news__title text-weight-bold">日経MJに掲載されました</h4>
              <p class="text-line-height">2019年10月4日付の日経MJに弊社の取組みが紹介されました。今後も積極的に弊社の活動を発信し、認知症の理解を広めていきたいと考えています……</p>
              <div class="news__sign-container text-right">
                <span class="news__sign">こちらをクリック</span>
              </div>
            </div>
          </div>
          <div class="item news__item"> 
            <div class="news__card">
              <time class="news__time text-size-big text-theme-color text-weight-bold">October 03, 2019</time>
              <h4 class="news__title text-weight-bold">日経MJに掲載されました</h4>
              <p class="text-line-height">2019年10月4日付の日経MJに弊社の取組みが紹介されました。今後も積極的に弊社の活動を発信し、認知症の理解を広めていきたいと考えています……</p>
              <div class="news__sign-container text-right">
                <span class="news__sign">こちらをクリック</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div data-aos="fade-up">
    <section class="news-table section">
      <div class="container-sm">
        <h2 class="text-center text-size-bigger text-theme-color text-weight-bold">DISCOVER NEWS</h2>
        <div class="news-table__container">
          <ul class="news__table-tab-list">
            <li class="news__table-tab text-weight-bold active">ALL</li>
            <li class="news__table-tab text-weight-bold">NEWS</li>
            <li class="news__table-tab text-weight-bold">EVENT</li>
            <li class="news__table-tab text-weight-bold">BLOG</li>
          </ul>
          <table>
            <tr>
              <td>2020.02.21</td>
              <td class="text-theme-color"><i>Event</i></td>
              <td><p class="text-weight-bold">Orem ipsum dolor sit amet, consectetuer adipiscing elit</p></td>
            </tr>
            <tr>
              <td>2020.02.21</td>
              <td class="text-theme-color"><i>Event</i></td>
              <td><p class="text-weight-bold">Reet dolore magna aliquam erat volutpat. Ut wisi enim ad minim</p></td>
            </tr>
            <tr>
              <td>2020.02.21</td>
              <td class="text-theme-color"><i>Event</i></td>
              <td><p class="text-weight-bold">im veniam, quis nostrud exerci tation ullamcorper suscipit</p></td>
            </tr>
            <tr>
              <td>2020.02.21</td>
              <td class="text-theme-color"><i>Event</i></td>
              <td><p class="text-weight-bold">Orem ipsum dolor sit amet, consectetuer adipiscing elit</p></td>
            </tr>
            <tr>
              <td>2020.02.21</td>
              <td class="text-theme-color"><i>Event</i></td>
              <td><p class="text-weight-bold">Orem ipsum dolor sit amet, consectetuer adipiscing elit</p></td>
            </tr>
            <tr>
              <td>2020.02.21</td>
              <td class="text-theme-color"><i>Event</i></td>
              <td><p class="text-weight-bold">Reet dolore magna aliquam erat volutpat. Ut wisi enim ad minim</p></td>
            </tr>
            <tr>
              <td>2020.02.21</td>
              <td class="text-theme-color"><i>Event</i></td>
              <td><p class="text-weight-bold">im veniam, quis nostrud exerci tation ullamcorper suscipit</p></td>
            </tr>
            <tr>
              <td>2020.02.21</td>
              <td class="text-theme-color"><i>Event</i></td>
              <td><p class="text-weight-bold">Orem ipsum dolor sit amet, consectetuer adipiscing elit</p></td>
            </tr>
            <tr>
              <td>2020.02.21</td>
              <td class="text-theme-color"><i>Event</i></td>
              <td><p class="text-weight-bold">Orem ipsum dolor sit amet, consectetuer adipiscing elit</p></td>
            </tr>
            <tr>
              <td>2020.02.21</td>
              <td class="text-theme-color"><i>Event</i></td>
              <td><p class="text-weight-bold">Reet dolore magna aliquam erat volutpat. Ut wisi enim ad minim</p></td>
            </tr>
            <tr>
              <td>2020.02.21</td>
              <td class="text-theme-color"><i>Event</i></td>
              <td><p class="text-weight-bold">im veniam, quis nostrud exerci tation ullamcorper suscipit</p></td>
            </tr>
            <tr>
              <td>2020.02.21</td>
              <td class="text-theme-color"><i>Event</i></td>
              <td><p class="text-weight-bold">Orem ipsum dolor sit amet, consectetuer adipiscing elit</p></td>
            </tr>
          </table>
        </div>
      </div>
    </section>
  </div>
</main>