{{#contentFor "PAGE_LEVEL_STYLES"}}
<link rel="stylesheet" href="/styles/science.css">
{{/contentFor}}

{{!< default}}
<main class="main">
    <section class="science-person-center section">
      <i class="science-person-center__cover"></i>
      <div class="science-person-center__container container-sm">
        <h2 class="science-person-center__title text-size-biggest text-theme-color text-weight-bold">Person Centered Care</h2>
        <div>
          <p class="text-size-big text-line-height text-weight-light">Person-centred care (PCC) is a holistic and integrative approach designed to maintain well-being and quality of life for people with dementia, and it includes the elements of care, the individual, the carers, and the family. Following its introduction in the 1990s, clinical studies have shown that PCC interventions can reduce challenging behaviours and improve the quality of life, and PCC  is now established best practice for dementia care throughout the world. However, the effectiveness of interventions for PCC critically depends of the unique characteristics of not only the person with dementia, but also on the carers providing the intervention. Thus, maintaining the good function of the dementia care triad is crucial to enabling sustainable and effective person centred care in practical settings</p>
        </div>
        <i class="science-person-center__divider theme-divider__vertical-block"></i>
      </div>
    </section>

    <div data-aos="fade-up">
      <section class="science-challenging section">
        <div class="container-sm grid flex-top">
          <div class="width-1-2">
            <ul class="science-challenging__list">
              <li class="grid flex-middle">
                <div class="width-1-2">
                  <img src="/images/science-challenge-1.jpg" alt=""/>
                </div>
                <div class="width-1-2 text-center">
                  <i class="text-weight-light">Agitation</i>
                </div>
              </li>
              <li class="grid flex-middle">
                <div class="width-1-2 text-center">
                  <i class="text-weight-light">Apathy</i>
                </div>
                <div class="width-1-2">
                  <img src="/images/science-challenge-2.jpg" alt="">
                </div>
              </li>
              <li class="grid flex-middle">
                <div class="width-1-2">
                  <img src="/images/science-challenge-3.jpg" alt="">
                </div>
                <div class="width-1-2 text-center">
                  <i class="text-weight-light">Aggression</i>
                </div>
              </li>
            </ul>
          </div>
          <div class="width-1-2">
            <h3 class="text-size-bigger text-weight-bold">Challenging Behaviours (CB)</h3>
            <h4 class="science-challenging__subtitle text-theme-color">Challenging behaviours (CB),</h4>
            <p class="text-size-big text-weight-light text-line-height">also known as behavioural and psychological symptoms of dementia (BPSD) is a collective term used to describe behaviours such as agitation, insomnia, restlessness, hallucinations, anxiety and depressed mood. CB can cause significant distress to people with dementia, their families and caregivers, and often lead to premature institutionalization, increased care burden and medical cost. Currently there are no effective drug treatments for CB, and psychosocial interventions are recommended as first line treatment in most situations</p>
          </div>
        </div>
      </section>
    </div>

    <div data-aos="fade-up">
      <section class="science-dementia section">
        <div class="container-sm grid flex-top">
          <div class="width-2-3">
            <div class="science-dementia__content text-right">
              <h3 class="science-dementia__title text-size-bigger text-right text-weight-bold">The Dementia Care Triad</h3>
              <ul class="science-dementia__list flex flex-middle flex-end">
                <li class="science-dementia__item"><span class="text-size-big text-weight-bold">challenging behaviours</span></li>
                <li class="science-dementia__item-svg">
                  <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><rect fill="none" height="24" width="24"/></g><g><g/><g><path d="M22,8l-4-4v3H3v2h15v3L22,8z"/><path d="M2,16l4,4v-3h15v-2H6v-3L2,16z"/></g></g></svg>
                </li>
                <li class="science-dementia__item"><span class="text-size-big text-weight-bold">triad dysfunction</span></li>
              </ul>
              <i class="theme-divider__horizontal-block"></i>
              <div class="science-dementia__paragraph">
                <p class="text-size-big text-weight-light text-line-height">The dementia care triad is a 3-way partnership between the person with dementia, the family carer and the healthcare provider. In the triad, each person brings their unique characteristics to create a care plan to maintain the dignity and quality of life for persons with dementia while maintaining their own. Challenging behaviours are closely linked to the triad - they can both disrupt well-functioning triads and result from inadequately functioning triads. Creating and enhancing strong triad partnerships are key to implementing person centred care, managing challenging behaviours and achieving the goal of sustainable dementia care.</p>
              </div>
              <i class="divider__horizontal-block"></i>
            </div>
          </div>
          <div class="width-1-3">
            <img src="/images/aikomi-home-section-2.png" alt="">
          </div>
        </div>
      </section>
    </div>

    <div data-aos="fade-up">
      <section class="section">
        <div class="container-sm">
          <h3 class="science-concept__title text-size-bigger text-weight-bold">Aikomi Concept –  Personalized CST</h3>
        </div>
        <div class="science-concept__content">
          <div class="science-concept__content-container container-sm">
            <p class="text-size-big text-weight-light text-line-height">Cognitive Stimulation Therapy (CST) is a group-based psychosocial intervention developed around the concept pf person centred care by University College London. Clinical trials have shown it can improve both cognition and QoL, and it is now used in over 20 countries and recommended by the UK body NICE. A major problem with CST is that It needs trained therapists, which limits its widespread adoption and use at the individual level. To overcome this, we have developed a digital platform based on the concepts of CST  for personalized multi-sense cognitive stimulation.</p>
          </div>
        </div>
      </section>
    </div>

    <div data-aos="fade-up">
      <section class="section">
        <div class="container-sm">
          <div class="science-platform__content-container">
            <img src="/images/science-platform.jpg" alt="">
  
            <div class="science-platform__item science-platform__item-first text-right">
              <h5 class="science-platform__item-title text-theme-color text-weight-bold">Digital Biomarker</h5>
              <p class="science-platform__item-description">Response monitoring & analysis<i class="science-platform__item-line first"></i></p>
            </div>
            <div class="science-platform__item science-platform__item-second">
              <h5 class="science-platform__item-title text-theme-color text-weight-bold">Digital Biomarker</h5>
              <p class="science-platform__item-description">Response monitoring & analysis<i class="science-platform__item-line second"></i></p>
            </div>
  
            <div class="science-platform__content science-platform__content-first text-center">
              <h4 class="science-platform__title text-size-big text-weight-bold">Meaningful Activity</h4>
              <p>Select contents based on response</p>
            </div>
            <div class="science-platform__content science-platform__content-second text-center">
              <h4 class="science-platform__title text-size-big text-weight-bold">Life Story</h4>
              <p>Create stimulation based on<br />personal profile</p>
            </div>
          </div>
          <div class="science-introduce__list-container">
            <ul>
              <li class="science-introduce__item">
                <i class="science-introduce__number text-center text-size-big text-theme-color text-weight-bold">1</i>
                <p class="text-center text-size-big text-weight-bold">Maintain concentration</p>
              </li>
              <li class="science-introduce__item">
                <i class="science-introduce__number text-center text-size-big text-theme-color text-weight-bold">2</i>
                <p class="text-center text-size-big text-weight-bold">Promote Conmunication</p>
              </li>
              <li class="science-introduce__item">
                <i class="science-introduce__number text-center text-size-big text-theme-color text-weight-bold">3</i>
                <p class="text-center text-size-big text-weight-bold">Reduce Anxiety</p>
              </li>
            </ul>
          </div>
          <div class="science-introduce__paragraph text-center">
            <span class="science-introduce__mark-start text-size-bigger text-theme-color text-weight-bold">“</span>
            <p class="science-introduce__text text-size-big text-weight-light text-line-height">The Aiame platform enables families and care to improve communication and engagement with the<br />person they are caring for, which is the key to improving Qol and implementing person centered care.</p>
            <span class="science-introduce__mark-end text-size-bigger text-theme-color text-weight-bold">”</span>
          </div>
        </div>
      </section>
    </div>

    <div data-aos="fade-up">
      <section class="section">
        <h3 class="text-center text-size-big text-weight-bold">Reference</h3>
        <div class="container-sm">
          <div class="science-reference"></div>
        </div>
      </section>
    </div>
  </main>