<footer class="footer">
  <div class="footer__container text-center">
    <h2 class="text-size-big text-weight-bolder">株式会社Aikomi</h2>
    <ul class="footer__link-list flex flex-middle flex-space-between">
      <li class="footer__link-item">
        <a class="footer__link" href="">About Us</a>
      </li>
      <li class="footer__link-item">
        <a class="footer__link" href="">Services</a>
      </li>
      <li class="footer__link-item">
        <a class="footer__link" href="">FAQ</a>
      </li>
      <li class="footer__link-item">
        <a class="footer__link" href="">Blog</a>
      </li>
      <li class="footer__link-item">
        <a class="footer__link" href="">Contact us</a>
      </li>
    </ul>
    <ul>
      <li class="footer__media-item text-middle">
        <a class="footer__media-link" href=""><img src="/images/icon-facebook.png" alt=""></a>
      </li>
      <li class="footer__media-item text-middle">
        <a class="footer__media-link" href=""><img src="/images/icon-twitter.png" alt=""></a>
      </li>
      <li class="footer__media-item text-middle">
        <a class="footer__media-link" href=""><img src="/images/icon-instagram.png" alt=""></a>
      </li>
      <li class="footer__media-item text-middle">
        <a class="footer__media-link" href=""><img src="/images/icon-linkdenin.png" alt=""></a>
      </li>
    </ul>
  </div>
</footer>