<header class="header">
  <div class="container flex flex-middle flex-space-between">
    <div class="header__logo flex__shrink-fixed">
      <img src="/images/logo.png" alt="">
    </div>
    <div class="flex flex-middle">
      <div class="nav__icon">
        <img src="/images/icon-menu.svg" alt="">
      </div>
      <ul class="nav__list flex flex-middle">
        <li class="text-right">
          <img class="nav__close" src="/images/icon-close.svg" alt="">
        </li>
        <li class="nav__item {{#if (getNavActive section 'home')}}active{{/if}}">
          <a class="nav__link" href="./">Home</a>
        </li>
        <li class="nav__item {{#if (getNavActive section 'science')}}active{{/if}}">
          <a class="nav__link" href="./science">Science&Tech</a>
        </li>
        <li class="nav__item {{#if (getNavActive section 'company')}}active{{/if}}">
          <a class="nav__link" href="./company">Company Info</a>
        </li>
        <li class="nav__item {{#if (getNavActive section 'news')}}active{{/if}}">
          <a class="nav__link" href="./news">News</a>
        </li>
        <li class="nav__item {{#if (getNavActive section 'contact')}}active{{/if}}">
          <a class="nav__link" href="./contact">Contact Us</a>
        </li>
        <li class="nav__item {{#if (getNavActive section 'family')}}active{{/if}}">
          <a class="nav__link" href="./family">Aikomi Family</a>
        </li>
      </ul>

      <div class="nav__language">
        <a class="nav__language-link" href="{{getOtherLanguageLink url country}}">{{getLanguageItem country}}</a>
      </div>
    </div>
  </div>
</header>