<header class="header">
  <div class="container flex flex-middle flex-space-between">
    <div class="header__logo flex__shrink-fixed">
      <img src="/images/logo.png" alt="">
    </div>
    <div class="flex flex-middle">
      <ul class="flex flex-middle">
        <li class="nav__item active">
          <a class="nav__link" href="./index">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./science">Science&Tech</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./company">Company Info</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./news">News</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./contact">Contact Us</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./family">Aikomi Family</a>
        </li>
      </ul>
      <div class="nav__language">
        <a class="nav__language-link">EN</a>
      </div>
    </div>
  </div>
</header>